<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.it.user.infrastructure.repository.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.example.it.user.infrastructure.repository.po.Role">
        <id property="id" column="id"/>
        <result property="roleCode" column="role_code"/>
        <result property="roleName" column="role_name"/>
        <result property="roleType" column="role_type"/>
        <result property="description" column="description"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <sql id="Base_Column_List">id,role_code,role_name,role_type,description,created_at,updated_at</sql>
    <select id="findById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM role
        WHERE id = #{id}
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM role
    </select>
    <insert id="insert" parameterType="com.example.it.user.infrastructure.repository.po.Role">
        INSERT INTO role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="roleCode != null">role_code,</if>
            <if test="roleName != null">role_name,</if>
            <if test="roleType != null">role_type,</if>
            <if test="description != null">description,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="roleCode != null">#{roleCode},</if>
            <if test="roleName != null">#{roleName},</if>
            <if test="roleType != null">#{roleType},</if>
            <if test="description != null">#{description},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
        </trim>
    </insert>
    <update id="updateById">
        UPDATE role
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="roleCode != null">role_code = #{roleCode},</if>
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="roleType != null">role_type = #{roleType},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="deleteById">
        DELETE FROM role
        WHERE id = #{id}
    </update>
</mapper>